body {
    font-family: sans-serif;
}
#totalsold {
    color: green;
}
#boughtstock {
    color: blue;
}
#remains {
    color: red;
}
.blue-area {
    margin: 10px 0;
    padding: 20px;
    background-color: #e9f3f7;
    border: 5px solid #DCEEEE;
}